#ask_for_help {
    margin-top: 13px;
}

#search_history {
    margin-top: 13px;
}

#tactics_text_area {
    height: 200px;
}

.search_text {
    width: 330px;
}

#add_terms_btn {
    margin-bottom: 9px;
}

#negotiable_btn {
    margin-bottom: 9px;
}

li {

    height: 30px;
}

#content .row-fluid {
    margin-bottom: 25px;
}