<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/base.css"/>
    <link rel="stylesheet" href="/static/css/deal_setup.css"/>
</head>
<body>
<div class="container" id="parent_container">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="row-fluid">
                <div class="span2"><a href="#"><img src="/static/img/nmlogo.jpg"></a></div>

                <ul class="nav pull-right">
                    <li><a id="ask_for_help" href="#ask_for_help_modal" data-toggle="modal">Ask For Help</a></li>
                    <li><a href="#">Jim</a></li>
                </ul>
            </div>
        </div>
    </div>
    <ul class="breadcrumb">
        <li><a href="/home/">Input</a><span class="divider">/</span></li>
        <li><a href="/design/">Deal Design</a><span class="divider">/</span></li>
        <li>Deal Setup</li>
    </ul>
    <h3>Deal Setup</h3>
    <div id="content">
        <div class="row-fluid">
            <div class="span3">
                Strategies
            </div>
            <div class="span9">
                <ul>
                    <li>Have determined that Sungard wants reference</li>
                    <li>Call ABC Corporation competitive quote</li>
                    <li>Recommend specific, measurable and enforceable terms</li>
                    <li><input type="text"><input class="li_btn" type="button" class="btn" value="Add"></li>
                </ul>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3">
                Tactics
            </div>
            <div class="span9">
                <ul>
                    <li>Focus on interests</li>
                    <li>Offer some options based on my understanding of interests</li>
                    <li><input type="text"><input class="li_btn" type="button" class="btn" value="Add"></li>
                </ul>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span9 offset3">
                <a href="/execution/" class="btn btn-primary">Next Page</a>
            </div>
        </div>

        <div class="modal hide fade" id="ask_for_help_modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Ask For Help</h4>
            </div>
            <div class="modal-body">
                <select>
                    <option value="contract_terms">Contract Terms</option>
                    <option value="neg_strategies">Negotiating Strategies</option>
                    <option value="neg_process">Tips of Negotiating Process</option>
                    <option value="contract_analysis">Contract Analysis</option>
                </select>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-primary" data-dismiss="modal">Message Expert</a>
            </div>
        </div>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src='/static/js/bootstrap.js'></script>
    </div>
</div>
</body>
</html>