<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/base.css"/>
    <link rel="stylesheet" href="/static/css/design.css"/>
</head>
<body>
<div class="container" id="parent_container">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="row-fluid">
                <div class="span2"><a href="#"><img src="/static/img/nmlogo.jpg"></a></div>

                <ul class="nav pull-right">
                    <li><a href="#">Jim</a></li>
                </ul>
            </div>
        </div>
    </div>
    <ul class="breadcrumb">
        <li><a href="/home/">Input</a><span class="divider">/</span></li>
        <li><a href="/design/">Design</a><span class="divider">/</span></li>
        <li>Execution</li>
    </ul>
    <div class="row-fluid">

    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src='/static/js/bootstrap.js'></script>
</div>
</body>
</html>