<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/base.css"/>
    <link rel="stylesheet" href="/static/css/execution.css"/>
</head>
<body>
<div class="container" id="parent_container">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="row-fluid">
                <div class="span2"><a href="#"><img src="/static/img/nmlogo.jpg"></a></div>

                <ul class="nav pull-right">
                    <li><a href="#">Jim</a></li>
                </ul>
            </div>
        </div>
    </div>
    <ul class="breadcrumb">
        <li><a href="/home/">Input</a><span class="divider">/</span></li>
        <li><a href="/design/">Deal Design</a><span class="divider">/</span></li>
        <li><a href="/deal_setup/">Deal Setup</a><span class="divider">/</span></li>
        <li>Execution</li>
    </ul>
    <h3>Execution</h3>
    <div id="content">
        <div class="row-fluid">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Ours</th>
                        <th>Theirs</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Interest</th>
                        <td><textarea>Lowering costs
Not give up service level
Guarantees</textarea></td>
                        <td><textarea>Keeping our account
Add another company to syndicate</textarea></td>
                    </tr>
                    <tr>
                        <th>Options</th>
                        <td><textarea>Company ABC
One year deal to allow migration
</textarea></td>
                        <td><textarea></textarea></td>
                    </tr>
                    <tr>
                        <th>Legitimacy</th>
                        <td><textarea>Competitive price
                        </textarea></td>
                        <td><textarea></textarea></td>
                    </tr>
                    <tr>
                        <th>'No' Options</th>
                        <td><textarea>Build our own contract with competitor
                        </textarea></td>
                        <td><textarea></textarea></td>
                    </tr>
                    <tr>
                        <th>Relationship</th>
                        <td><textarea>Maintain the relationship
                        </textarea></td>
                        <td><textarea>Maintain the relationship</textarea></td>
                    </tr>
                    <tr>
                        <th>Commitments</th>
                        <td><textarea>
                        </textarea></td>
                        <td><textarea></textarea></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src='/static/js/bootstrap.js'></script>
    </div>
</div>
</body>
</html>