<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/base.css"/>
    <link rel="stylesheet" href="/static/css/messages.css"/>
</head>
<body>
<div class="container" id="parent_container">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="row-fluid">
                <div class="span2"><h3><a href="#">NegotiationManager</a></h3></div>

                <ul class="nav pull-right">
                    <li><h3><a href="#">Jim</a></h3></li>
                </ul>
            </div>
        </div>
    </div>
    <h2>Messages</h2>
    <div class="row-fluid">
        <div class="span2 respondent">
            Expert
        </div>
        <div class="span10 message">
            Keep up the good work
        </div>
    </div>
    <ul class="nav nav-list">
        <li class="divider"></li>
    </ul>
    <div class="row-fluid">
        <div class="span2 respondent">
            Jim
        </div>
        <div class="span10 message">
            Thank you
        </div>
    </div>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src='/static/js/bootstrap.js'></script>
</div>
</body>
</html>